<main>
	Demo app

<!-- whatToDoToday fås från DayInfoComponent med hjälp av ett get event. -->
	<p>
		{{'Idag' | uppercase}} är det
		{{ today | date:'yyyy-MM-dd ' }}
		och jag ska fokusera på
		<span style="font-weight: bold;">{{ whatToDoToday }}</span>
	</p>

	<button (click)="displayDaysOn()">Visa</button>
	<button (click)="displayDaysOff()">Dölj</button>

	<!-- days: class property -->
	<!-- day: loopvariabel -->
	<!-- Bara ett "structural directive" per element! -->
	<!-- Använd antingen ett extra div element eller ng-container -->
	<ng-container *ngIf="displayDays">
		<app-day-info
			*ngFor="let day of days"
			[day]="day.day"
			[content]="day.content"
			(choose)="handleChoose($event)"></app-day-info>
	</ng-container>

	<!-- I stället för att ha all information i AppComponent så skapar vi en ny komponent, DayInfoComponent. Den har ansvar för all information om en dag (Day-objekt) så att AppComponent inte behöver kunna det. -->

</main>






<!--  -->
